/* XS /
@media (min-width: 29.6875rem) { / 475px / 16px = 29.6875rem /
  .container {
    max-width: 29.6875rem;
  }
}

/ SM /
@media (min-width: 40rem) { / 640px / 16px = 40rem /
  .container {
    max-width: 40rem;
  }
}

/ MD /
@media (min-width: 48rem) { / 768px / 16px = 48rem /
  .container {
    max-width: 48rem;
  }
}

/ LG /
@media (min-width: 64rem) { / 1024px / 16px = 64rem /
  .container {
    max-width: 64rem;
  }
}

/ XL /
@media (min-width: 80rem) { / 1280px / 16px = 80rem /
  .container {
    max-width: 80rem;
  }
}

/ XXL /
@media (min-width: 96rem) { / 1536px / 16px = 96rem /
  .container {
    max-width: 96rem;
  }
} */

.icon {
  margin-inline: auto;
  width: var(--size-5xl);
  height: var(--size-5xl);
  color: var(--clr-beige);
}

.section__button {
  background-color: var(--clr-transparent-bg);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  gap: 0.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(88, 83, 87, 0.5);
  transition: all 0.3s ease;
}

.section__button:hover {
  background-color: var(--clr-transparent-bg-active);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
  border: 2px solid rgba(88, 83, 87, 1);
  transform: scale(1.2);
}

span {
  color: var(--clr-beige);
  font-weight: 800;
  text-transform: uppercase;
  font-size: clamp(var(--fs-xs), 3vw, var(--fs-2xl));
  text-shadow: 0.25rem 0 1rem #000;
}

@media (min-width: 40rem) {
  .section__button {
    width: 12rem;
    height: 12rem;
  }
  .icon {
    width: var(--size-6xl);
    height: var(--size-6xl);
  }
}

@media (min-width: 64rem) {
  .section__button {
    width: 14rem;
    height: 14rem;
  }
  .icon {
    width: var(--size-7xl);
    height: var(--size-7xl);
  }
}

@media (min-width: 80rem) {
  .section__button {
    width: 16rem;
    height: 16rem;
  }
  .icon {
    width: var(--size-8xl);
    height: var(--size-8xl);
  }
}

@media (min-width: 96rem) {
  .section__button {
    width: 18rem;
    height: 18rem;
  }
  .icon {
    width: var(--size-9xl);
    height: var(--size-9xl);
  }
}
